nav {
  display: flex;
  color: #FFFFFF;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  background-color: #66452f;
  font-family: Bungee;
  height: 120px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
}

.new-tweet {
  font-family: Source Sans Pro;
}

#mes-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angles-down {
  color: red
}
