/* Style tweet submission button, counter*/
.tweet-button {
  font-family: Bungee;
  background-color: #4056A1;
  color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.counter {
  font-family: Bungee;
}

.color-red {
  color: red;
}

.tweet-line {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  color: rgb(83, 81, 81);
  width: 100%;

}

.button-counter {
  border-top: 3px solid rgb(83, 81, 81);
  padding-top: 15px;
  display: flex;
  justify-content: space-between

}

.tweet-text {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: 0;
  resize: none;
  outline: none;
  overflow: hidden;
}

.form-inline {
  padding-bottom: 50px;
}

.tweets {
  padding-bottom: 100px;
}

/* Tweet box format */
.tweets article {
  border:rgb(83, 81, 81) 3px solid;
  height: 150 px;
  padding: 5%;
  margin-bottom: 30px;
}

.tweets article:hover {
  box-shadow: 5px 5px 2px rgb(149, 168, 218);
}

.tweets header {
  display: flex;
  justify-content: space-between;
  font-size: 85%;
}

.tweets header span {
  color:rgb(147, 142, 142)
}

.tweets footer {
  border-top: 3px solid rgb(83, 81, 81);
  display: flex;
  justify-content: space-between;
  font-size: 65%;
  padding-top: 15px;
}

.tweets footer span {
  color: #4056A1
}

/* Change colour of icons upon hover */
.tweets .fa-solid:hover {
  color: orange;
}

.tweets p {
  font-weight: 400;
  padding-top: 30px;
}

/* Error messages, only set to appear if invalid tweet input is submitted */

#err1 {
  display: none;
  margin-bottom: 15px;
  justify-content: center;
  outline: 3px solid red;
  color: red
}

#err2 {
  display: none;
  justify-content: center;
  margin-bottom: 15px;
  outline: 3px solid red;
  color: red
}

.error-div {
  display: flex;
  flex-direction: column;
}
